@import "./scss/reset";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  // background-color: gray !important;
}

.container{
  padding: 20px 30px;
}

@media only screen and (max-width: 460px){
  .container{
    padding: 20px 10px;
  }
}